## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Date
0,0,George Town,MY,5.41,100.34,80.6,100,20,0.43,light rain,2020-09-17 19:21:37
1,1,Tasiilaq,GL,65.61,-37.64,41.0,88,5,5.82,clear sky,2020-09-17 19:21:54
2,2,Vaini,TO,-21.20,-175.20,69.8,88,75,11.41,broken clouds,2020-09-17 19:21:55
3,3,Mahébourg,MU,-20.41,57.70,71.6,73,75,14.99,broken clouds,2020-09-17 19:23:22
4,4,Saint Paul Harbor,US,57.79,-152.41,55.4,58,40,17.22,scattered clouds,2020-09-17 19:23:22

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Date
0,0,George Town,MY,5.41,100.34,80.60,100,20,0.43,light rain,2020-09-17 19:21:37
5,5,Kabalo,CD,-6.05,26.92,82.76,43,15,2.73,few clouds,2020-09-17 19:23:23
8,8,Jiwani,PK,25.05,61.74,83.30,73,0,6.98,clear sky,2020-09-17 19:23:23
10,10,Puerto Ayora,EC,-0.74,-90.35,77.00,61,20,23.04,few clouds,2020-09-17 19:23:24
12,12,Butaritari,KI,3.07,172.79,81.54,79,90,16.04,light rain,2020-09-17 19:23:25
13,13,Hilo,US,19.73,-155.09,80.60,69,75,3.36,broken clouds,2020-09-17 19:22:22
19,19,Ovalle,CL,-30.60,-71.20,88.81,16,0,6.33,clear sky,2020-09-17 19:23:27
22,22,Kirakira,SB,-10.45,161.92,79.57,84,77,13.38,broken clouds,2020-09-17 19:23:27
26,26,Hong Kong,HK,22.29,114.16,82.99,89,100,22.17,light rain,2020-09-17 19:20:44
29,29,Nieuw Amsterdam,SR,5.88,-55.08,87.80,58,40,11.41,shower rain,2020-09-17 19:23:29

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        185
City           185
Country        185
Lat            185
Lng            185
Max Temp       185
Humidity       185
Cloudiness     185
Wind Speed     185
Description    185
Date           185
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
clean_df = preferred_cities_df
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Date
0,0,George Town,MY,5.41,100.34,80.60,100,20,0.43,light rain,2020-09-17 19:21:37
5,5,Kabalo,CD,-6.05,26.92,82.76,43,15,2.73,few clouds,2020-09-17 19:23:23
8,8,Jiwani,PK,25.05,61.74,83.30,73,0,6.98,clear sky,2020-09-17 19:23:23
10,10,Puerto Ayora,EC,-0.74,-90.35,77.00,61,20,23.04,few clouds,2020-09-17 19:23:24
12,12,Butaritari,KI,3.07,172.79,81.54,79,90,16.04,light rain,2020-09-17 19:23:25
13,13,Hilo,US,19.73,-155.09,80.60,69,75,3.36,broken clouds,2020-09-17 19:22:22
19,19,Ovalle,CL,-30.60,-71.20,88.81,16,0,6.33,clear sky,2020-09-17 19:23:27
22,22,Kirakira,SB,-10.45,161.92,79.57,84,77,13.38,broken clouds,2020-09-17 19:23:27
26,26,Hong Kong,HK,22.29,114.16,82.99,89,100,22.17,light rain,2020-09-17 19:20:44
29,29,Nieuw Amsterdam,SR,5.88,-55.08,87.80,58,40,11.41,shower rain,2020-09-17 19:23:29

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Description    Lat     Lng Hotel Name
0       George Town      MY     80.60     light rain   5.41  100.34
5            Kabalo      CD     82.76     few clouds  -6.05   26.92
8            Jiwani      PK     83.30      clear sky  25.05   61.74
10     Puerto Ayora      EC     77.00     few clouds  -0.74  -90.35
12       Butaritari      KI     81.54     light rain   3.07  172.79
13             Hilo      US     80.60  broken clouds  19.73 -155.09
19           Ovalle      CL     88.81      clear sky -30.60  -71.20
22         Kirakira      SB     79.57  broken clouds -10.45  161.92
26        Hong Kong      HK     82.99     light rain  22.29  114.16
29  Nieuw Amsterdam      SR     87.80    shower rain   5.88  -55.08

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add Lat-Longs to params dictionary
    params["location"] = f"{lat},{lng}"    
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"   

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,George Town,MY,80.60,light rain,5.41,100.34,Cititel Penang
5,Kabalo,CD,82.76,few clouds,-6.05,26.92,
8,Jiwani,PK,83.30,clear sky,25.05,61.74,Al Mumtaz Transport Jiwani
10,Puerto Ayora,EC,77.00,few clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
12,Butaritari,KI,81.54,light rain,3.07,172.79,Isles Sunset Lodge

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))